.secret-menu {
    height: 250px;
    width: 520px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -260px;
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
}

#theme-display {
    height: 30px;
    width: 200px;
    border: 1px solid white;
    cursor: pointer;
}

#theme-flex {
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

#theme-flex p {
    margin: 5px;
    cursor: pointer;
}