* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('./assets/mountain-scape.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  color: white;
}

section, div {
  display: flex;
  justify-content: center;
  align-items: center;
}